
* {
	font-family: 'Sen', sans-serif;
	font-weight: 100;
}	

img {
	height: 70px;
	padding: 5px;
}

.nav__responsive-ul {
	display: none;
}

.nav {
	background-color: #bc44ee;
}

.nav__li {
	display: inline-block;
	padding: 6px;
	color: #fff;
}

.nav__li:hover {
	display: inline-block;
	padding: 6px;
	color: green;
}

.nav__li a {
	color: #fff;
	text-decoration: none;
}

.nav__li i {
	box-sizing: border-box;
	text-align: right;
	margin-right: 5px;
}

.nav__responsive-button-conteiner {
	position: absolute;
	width: 100%;
	font-size: 25px;
	background-color: #69c;
	margin-top: -64px;
	z-index: 100;
}

.nav__responsive-button {
	padding: 6px 20px;
	text-align: right;
	width: 100%
}


@media only screen and (max-width: 500px) {
	.nav__ul {
		display: none;
	}

	.nav {
	height: 37px;
	width: 100%;
}

	.nav__responsive-ul {
		display: block;
		position: absolute;
		width: 100%;
		margin-top: 37px;
		padding-top: 27px;
		height: 37px;
	} 	img {
		padding: 1px;
		height: 40px;
		width: 40px;

	}
 

.nav__li-container {
	position: relative;
	top: -1000px;
	height: calc(100vh - 64px);
	background: #9bf;
	transition: all 1s;
	z-index: 1;
	width: 75%;
	padding-top: 27px;
}
.nav__responsive-li {
	width: 100%;
	padding: 9px 20px;
}

.nav__responsive-li i {
	box-sizing: border-box;
	text-align: center;
	margin-right: 5px;
	width: 30px;
	color: #016;
}

.nav__responsive-li a {
	color: #016;
	text-decoration: none;
}

.nav__responsive-ul:hover > .nav__li-container {
	top: 0;
}